# Byte-compiled Python files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
ENV/

# Logs and temporary files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/

# Generated JSON files
*.json

# Other
.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
